# Cluster link configuration for the link created on the Primary cluster.
# Specifies how the Primary broker connects to the Secondary cluster (remote).
# These paths are broker-internal (resolved inside the Kafka pod).
bootstrap.servers=secondary-control-plane:30192
security.protocol=SSL
ssl.truststore.location=/mnt/sslcerts/truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/mnt/sslcerts/keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
link.mode=BIDIRECTIONAL
consumer.offset.sync.enable=true
