# Cluster link configuration for the link created on the Secondary cluster.
# Specifies how the Secondary broker connects to the Primary cluster (remote).
# These paths are broker-internal (resolved inside the Kafka pod).
bootstrap.servers=primary-control-plane:30092
security.protocol=SSL
ssl.truststore.location=/mnt/sslcerts/truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/mnt/sslcerts/keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent
link.mode=BIDIRECTIONAL
consumer.offset.sync.enable=true
